html, body {

}

body {
  background: #99ccff;
}

#left div, #right > div {
  border: solid black 1px;
  padding: 5px;
  overflow: auto;
}

#left, #right {
  width: 500px;
  height: 550px;
  float: left;
  padding: 5px;
  border: dotted gray 5px;
  overflow: auto;
}


#divops td, #divops th {
  border: solid blue 1px;
  padding: 5px;
}

#divops {
  height: 300px;
}

#divops input {
  width: 80px;
}

.changed {
  border: solid purple 2px;
}

.error {
  border: solid red 2px;
}

#operators {
  width: 85%;
  height: 75%;
  background: #ffff99;
}

#input {
  width: 85%;
  height: 100px;
  background: #ffcc99;
}

#right > div {
  height: 125px;
}