html, body {

}


div {
  border: solid black 1px;
  padding: 5px;
  overflow: auto;
}

#left, #right {
  width: 500px;
  height: 680px;
  float: left;
  padding: 5px;
  border: dotted gray 5px;
  overflow: auto;
}


#divops td, #divops th {
  border: solid blue 1px;
  padding: 5px;
}

#divops {
  height: 300px;
}

#divops input {
  width: 80px;
}

.changed {
  border: solid purple 2px;
}

.error {
  border: solid red 2px;
}

#operators {
  width: 85%;
  height: 75%;
}
